// Text styles
.x-large {
  font-size: 3.5rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

// Backgrounds

.bg {
  //placeholder
  &-primary {
    @include set-background($primary-color);
  }
  &-light {
    @include set-background($light-color);
    border: rgb(184, 184, 184) 1px solid;
  }
  &-dark {
    @include set-background($dark-color);
  }
  &-success {
    @include set-background($success-color);
  }
  &-danger {
    @include set-background($danger-color);
  }
  &-white {
    @include set-background(#fff);
    border: rgb(184, 184, 184) 1px solid;
  }
}

// Buttons
.btn {
  display: inline-block;
  background-color: $light-color;
  color: #333;
  padding: 0.2rem 1rem;
  border: none;
  font-size: 0.7rem;
  margin-right: 0.4rem;
  outline: none;
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
